.card-img-top {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.card-title {
  color: #2c3e50; /* cor do título */
  font-size: 1.5rem; /* tamanho do título */
  font-weight: 700;
}

.card-text {
  font-size: 1rem; /* tamanho da descrição */
  color: #555;
}

.card {
  max-width: 280px;
  margin: 0 auto; /* centraliza o card */
  border: none;
}


.container-filmes {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}
